body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

#container {
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-page {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.nav-buttons {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-icon {
  width: 40px;
  height: auto;
}